<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="CookBookConnectionString"
			connectionString="
			Server=10.42.2.13\SQLEXPRESS; 
			Database=KaiDB; 
			User ID=Kai;
			Password=xYB1gn08HL9alJI4yog7iMaKtGB2NqMxaH2PTcvR;"
			providerName= "System.Data.SqlClient"/>
	</connectionStrings>

	<appSettings>
		<!--TODO:-->
	</appSettings>

</configuration>
