<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="CookBookConnectionString"
			connectionString="
			Server=BESAT\SQLEXPRESS; 
			Database=KaiDB; 
			Trusted_Connection=True;"
			providerName= "System.Data.SqlClient"/>
	</connectionStrings>

	<appSettings>
		<!--values are: sql (default), txt-->
		<!--TODO:<add key ="repositoryType" value="sql"/>-->
	</appSettings>

</configuration>