<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="CookBookConnectionString"
			connectionString="
			Server=10.42.2.13; 
			Database=KaiDB; 
			User ID=Kai;
			Password=LDp6anMp9Ly9IuEAVVsZxPjGUvHKPDDzFQx0Zxyn;"
			providerName= "System.Data.SqlClient"/>
	</connectionStrings>

	<appSettings>
		<!--values are: sql (default), txt-->
		<!--TODO:<add key ="repositoryType" value="sql"/>-->
	</appSettings>

</configuration>
